.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .title {
    }
    
    .buttons-container {
      display: flex;
      gap: 10px;
    }
  }
  