<mat-toolbar class="nav-container" color="primary">
    <div class="logo-lng-container">
        <img src="assets/images/TecAlliance_logo.svg" alt="logo">
        <div class="language-selector" (click)="toggleDropdown()" [class.open]="dropdownOpen">
          <div class="selected-lang">
            <img [src]="selectedLang.flag" alt="{{ selectedLang.code }}" />
            <span>{{ selectedLang.code }}</span>
            <span class="arrow">▼</span>
          </div>
        
          <ul *ngIf="dropdownOpen" class="dropdown">
            <li *ngFor="let lang of languages" (click)="changeLanguage(lang.code)">
              <img [src]="lang.flag" alt="{{ lang.code }}" />
              <span class="lang-label">{{ lang.label }}</span>
            </li>
          </ul>
        </div>
    </div>
    <div class="buttons-container">
        <a mat-button routerLink="/home">{{ 'HEADER.HOME' | translate }}</a>
        <a mat-button routerLink="/about">{{ 'HEADER.ABOUT' | translate }}</a>
    </div>
    <a mat-flat-button class="logout-button" (click)="logOut()">{{ 'HEADER.LOGOUT' | translate }}</a>
</mat-toolbar>