.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    .title {
      position: absolute;
      left: 0;
      margin-left: 16px;
    }
    
    .buttons-container {
      display: flex;
      gap: 10px;
    }
  }
  